python-dotenv
pydantic
pytest
transformers
torch
spacy
sentence-transformers
redis>=5.0.0
feast>=0.39.0

# evidently dependencies
pandas>=1.3.0,<2.0.0
numpy<1.24
scipy<1.10
scikit-learn>=1.0.0,<1.3
evidently==0.6.7